@model AuthSystem.Models.Application.Employee
@{
    ViewData["Title"] = "Edit employee";
}
<div class="row">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Edit employee</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-lg-6 mb-3 mb-lg-0">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-3 mb-lg-0">
                            <div class="form-group">
                                <label asp-for="Address"></label>
                                <input asp-for="Address" class="form-control" />
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3 mb-lg-0">
                            <div class="form-group">
                                <label asp-for="EmpCode"></label>
                                <input asp-for="EmpCode" class="form-control" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label asp-for="Gender"></label>
                                <br />
                                <input asp-for="Gender" value="Male" type="radio" /> Male
                                <br />
                                <input asp-for="Gender" value="Female" type="radio" /> Female
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-info">Edit</button>
                        <a asp-action="Index" class="btn btn-secondary ml-1">Cancel</a>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </form>
            </div>
        </div>
    </div>
</div>